<div class="partial-container col-4">
  <div class="image-container">
    <img onclick="location.href='/single-beer/{{id}}'" src={{image_url}}>
  </div>
  <h1>{{name}}</h1>
  <h4>{{tagline}}</h4>
  <p>{{description}}</p>
</div>